*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1140px;
    margin: 0px auto;
}

ul{
    list-style: none;
    text-decoration: none;
}

.navbar{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.nav__item{
    display: flex;
    /* width: 600px; */
    align-items: center;
}
ul{
display: flex;
}
ul>li{
    width: 100px;
    text-decoration: none;
}
li>a{
    color: #000000;
    text-decoration: none;
}

.nav__item> button{
    height: 50px;
    width: 200px;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    background-color: #00BAFC;
    color: #FFFFFF;
    border: none;
    font-size: 17px;

}

.header{
    background-color: #FFFFFF;
    padding: 80px 0px;
}

.header__top h2,p{
width: 400px;
}
.header__top h2{
font-size: 25px;
}
.header__top>p{
    margin: 25px 0px;
    font-size: 12px;
}
.header__top>button{
    height: 40px;
    width: 200px;
    border-radius: 3px;
    /* padding: 8px 16px 8px 16px; */
    background-color: #00BAFC;
    color: #FFFFFF;
    border: none;
    font-size: 12px;
    font-weight: 700;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__bacground{
    
    width: 458px;
    height:258px;
}

.section{
    
    margin-top: 100px;
    
}

.section h2{
    text-align: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;
}


.text{
    text-align: center;
    align-items: center;
    width: 700px;
    margin: 10px auto; 
}

.section__pictures>img{
    width: 1150px;
    margin: 35px;
}
.selection__register{
    text-align: center;
    
}

.selection__register>button{
    width: 167px;
    height: 40px;
    padding: 8px, 16px, 8px, 16px;
    background-color: #00BAFC;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
}
.selection__register>p{
    color: #00BAFC;
}

.selection__center{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.selection__center p{
    margin: 15px 0px;
}

.btn{
    align-items: center;
    margin: 45px auto;
    text-align: center;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background-color: #00BAFC;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 13px;
}
.div__btn{
    margin: 10px 48%;
}

.selection__end{

    width: 1140px;
    margin: 0px auto;
    height: 456px;
    padding: 25px 0px;
    background-color: #00BAFC;
}

.footer__top{
    
    text-align: center;
    color: #FFFFFF;
}

.footer__input{
    margin: 35px auto;
    width: 328px;
    height: 254px;
    background-color: #FFFFFF;
    border-radius: 7px;
    padding: 25px 37px 0px;
    
}

.footer__top h2{
    margin: 17px;
}

input,select{
    font-size: 14px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin: 10px;
    width: 250px;
    height: 40px;
}
.yes{
    height: 450px;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    
}
.footer__intem{
    display: flex;
}